body {
	background-color: #FFEBCD;

}
.container {
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color: #FFEBCD;
	align-items: center;
}
h1 {
	color:#B8860B;
}
ul {
	padding: 0;
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
}
li{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 39px;
	height: 39px;
	border:1px solid black;
	font-weight: bold;
}
