body {
	background-color: #FFEBCD;

}
.container {
	display: flex;
	flex-direction: column;
	background-color: #FFEBCD;
	align-items: center;
}
h1 {
	color:#B8860B;
}
ul {
	padding: 0;
	align-items: center;
	display: flex;	
	flex-wrap: wrap;

}
li{
	list-style-type: none;
	line-height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 5px;
	width: 39px;
	height: 39px;
	border:1px solid black;
	border-radius: 5px;
	font-weight: bold;
}